.header {
    width: 100dvw;
    height: var(--navbar-height);
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 8px 12px 8px 12px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: var(--container-background-color);
    transition: background-color ease-in-out var(--transition-delay);
}

.header .first-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}

.nav-list li:first-child, .nav-list li:nth-child(2) {
    margin-right: 16px;
}

.nav-list li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button-rounded {
    border-radius:50%;
}

.theme-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.avatar {
    border-radius: 50%;
}