.header {
    width: 100dvw;
    height: var(--navbar-height);
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 8px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: var(--container-background-color);
    transition: background-color ease-in-out var(--transition-delay);
}

.header .first-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}

.nav-list li:first-child, .nav-list li:nth-child(2) {
    margin-right: 16px;
}

.nav-list li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button-rounded {
    border-radius:50%;
}

.theme-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.pip {
    width:14px;
    height: 14px;
    border-radius: 50%;
    margin:3px;
    cursor: pointer;
    transition: all ease-in-out var(--transition-delay);
    box-shadow: none;
}

.active {
    box-shadow: 0 0 0 2px var(--container-background-color),  0 0 0 5px var(--light-primary);
    transition: all ease-in-out var(--transition-delay);
}

.purple {
    background-color: #a126fa;
}

.red {
    background-color: #ff4d4d;
}

.green {
    background-color: #4dff4d;
}

.blue {
    background-color: #4d4dff;
}

.orange {
    background-color: #ffb84d;
}

.grey {
    background-color: #808080;
}