.header {
    width: 100dvw;
    height: var(--navbar-height);
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 8px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.header .first-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.nav-list li {
    align-content: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hoops {
    width: 48px;
}

.polaris {
    width: 90px;
}