.toggle {
    width: 32px;
    height: 18px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color var(--transition-delay);
    display: inline-block;
}

.switch {
    width: 16px;
    height: 16px;
    background-color: var(--light-primary);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.3s;
}

.toggled {
    left: 15px;
    background-color: var(--light-primary)
}