.form-input {
    position: relative;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}


.form-field {
    width:100%;
    padding: 6px 2rem 6px 6px;
    border: 2px solid var(--grey-30);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--field-background);
    color: var(--field-color);
    outline: none;
}

.form-field:focus {
    outline: 2px solid var(--light-primary);
    outline-offset: 3px;
}

.toggle-button {
    position: absolute;
    right: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--field-color);
}

.toggle-button:focus {
    outline: none;
}

.error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}