.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-label {
    margin-bottom: 8px;
    font-weight: bold;
}

.form-field {
    padding: 8px;
    border: 2px solid var(--grey-30);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--field-background);
    color: var(--field-color);
    outline: none; /* Remove the standard outline */
}

.form-field:focus {
    outline: 2px solid var(--light-primary); /* New outline in theme color */
    outline-offset: 3px; /* 3 pixels away from the border */
}

.form-field.error {
    border-color: red;
}

.error-message {
    margin-top: 4px;
    color: red;
    font-size: 12px;
}