.nav-link {
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    color: var(--nav-link-color);
    text-decoration: none;
    cursor: pointer;
    transition:
            color ease-in-out var(--transition-delay),
            background-color ease-in-out var(--transition-delay);
    white-space: nowrap;
    gap: 4px;
}

.nav-link:hover {
    background-color: var(--light-primary);
    color: var(--nav-link-highlight-color);
}

.button__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    margin-right: 6px;
}

.active {
    background-color: var(--dark-primary);
    color: var(--nav-link-highlight-color)
}

.icon {
    width: 16px;
    height: 16px;
}