.default {
    color: var(--foreground);
}

.inherit {
    color: inherit;
}

.success {
    color: var(--success-color);
}

.error {
    color: var(--error-color);
}

.warning {
    color: var(--warning-color);
}

.info {
    color: var(--info-color);
}

.primary {
    color: var(--light-primary);
}

.secondary {
    color: var(--light-secondary);
}

.T200 {
    font-size: 12px;
}

.T300 {
    font-size: 14px;
}

.T400 {
    font-size: 16px;
}

.T500 {
    font-size: 18px;
}

.T600 {
    font-size: 20px;
}

.T700 {
    font-size: 24px;
}

.T800 {
    font-size: 28px;
}

.T900 {
    font-size: 32px;
}

.weight-200 {
    font-weight: 200;
}

.weight-300 {
    font-weight: 300;
}

.weight-400 {
    font-weight: 400;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.weight-800 {
    font-weight: 800;
}

.weight-900 {
    font-weight: 900;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.strikethrough {
    text-decoration: line-through;
}