.button {
    border: none;
    cursor: pointer;
    background-color: var(--light-primary);
    color: var(--button-color);
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    font-size: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    transition: color ease-in-out var(--transition-delay), background-color ease-in-out var(--transition-delay);
    font-weight: 500;
    min-height: 40px;
}

.button.small {
    padding: 2px 16px 2px 16px;
    border-radius: 12px;
    min-width: 26px;
    min-height: 26px;
}

.button.tiny {
    padding: 1px 16px 2px 16px;
    border-radius: 12px;
    min-width: 18px;
    font-size: 12px;
    min-height: 18px;
}

.button.tiny .icon {
    font-size: 10px;
    padding-top:0;
    position: relative;
    top:-1px;
}

.button:focus {
    outline: 2px solid var(--light-primary);
    outline-offset: 3px;
}

.button:hover {
    background-color: var(--dark-primary);
}

.button__icon-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20px;
    margin-right: 6px;
}

.tiny .button__icon-wrapper {
    width: 12px;
}

.rounded {
    border-radius: 24px;
    padding: 0px 12px 0px 12px;
}

.rounded.small {
    padding: 4px 4px 4px 4px;
}

.rounded.tiny {
    padding: 0 2px 1px 2px;
}

.tiny i {
    margin-top: 3px;
}

.button.warning {
    background-color: var(--warning-color);
    color: var(--dark-button-color);
}

.button.warning:hover {
    background-color: var(--warning-hover-color);
}

.button.error {
    background-color: var(--error-color);
    color: var(--light-button-color);
}

.button.error i {
    color: var(--light-button-color);;
}

.button.error:hover {
    background-color: var(--error-hover-color);
}

.button.disabled {
    background-color: var(--disabled-color);
    color: var(--light-button-color);
}

.button.disabled i {
    color: var(--light-button-color);
}

.button.disabled:hover {
    background-color: var(--disabled-hover-color);
}

.button.success {
    background-color: var(--success-color);
    color: var(--dark-button-color);
}

.button.success:hover {
    background-color: var(--success-hover-color);
}

.button:disabled:hover {
    cursor: not-allowed;
    background-color: var(--disabled-color);
}

.button.secondary {
    background-color: var(--light-secondary);
}

.button.secondary:hover {
    background-color: var(--dark-secondary);
}

.button.info {
    background-color: var(--info-color);
    color: var(--light-button-color);
}

.button.info:hover {
    background-color: var(--info-hover-color);
}