.button {
    border: none;
    cursor: pointer;
    background-color: var(--light-primary);
    color: var(--button-color);
    padding: 8px;
    border-radius: 4px;
    font-size: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:36px;
    transition: color ease-in-out var(--transition-delay), background-color ease-in-out var(--transition-delay);
}

.button:hover {
    background-color: var(--dark-primary);
}

.button__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    margin-right: 6px;
}

.icon {
    width: 16px;
    height: 16px;
}

.rounded {
    border-radius: 50%;
}