:root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --background-main: #1f1f1f;
    --foreground-main: #ededed;

    --nav-link-color: #ededed;
    --nav-link-highlight-color: #ededed;
    --button-color: #ededed;
    --container-background-color: #0a0a0a;



    /*--background: #ededed;*/
    /*--foreground: #0a0a0a;*/
    /*--background-main: #ededed;*/
    /*--foreground-main: #1f1f1f;*/

    /*--nav-link-color: #0a0a0a;*/
    /*--nav-link-highlight-color: #ededed;*/
    /*--button-color: #ededed;*/
    /*--container-background-color: #dedddd;*/



    --light-primary: #a126fa;
    --dark-primary: #6615a1;
    --darker-primary: #420d69;

    --sidebar-width: 220px;
    --sidebar-closed-width: 54px;
    --navbar-height: 54px;

    --transition-delay: 250ms;
}

html,
body {
    max-width: 100vw;
    overflow: hidden;
}

body {
    color: var(--foreground);
    background: var(--container-background-color);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.layout {
    display: flex;
    flex: 1;
    height: calc(100vh - var(--navbar-height) - 10px);
    width: calc(100vw - 10px);
}

.main {
    flex-grow: 1;
    background-color: var(--background-main);
    color: var(--foreground-main);
    overflow: auto;
    padding: 12px;
    border-radius: 8px;
}
