.form-group {
    margin-bottom: 8px;
}

.form-label {
    margin-bottom: 8px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin-top:12px;
}

.error-message {
    color: red;
    font-size: 12px;
}