.navList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navList li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.navList li i {
    margin-right: 6px;
}